<div class="header">
    <img src="https://i.pinimg.com/600x315/8e/9a/ff/8e9aff2ab6c08a38e51a479cd62b66f7.jpg" alt="">
    <div class="menu">
        <p>Home</p>
        <p>Schedule</p>
        <p>Pricing</p>
        <p>Contanct</p>
    </div>
</div>

<div class="home">
    <div class="text">
        <h1>Make it Lifestype, Not a duty</h1>
        <button>Watch our video</button>
    </div>

    <div class="boxes">
        <div class="box">
            <h1>Running</h1>
            <p>This courses will help you improve your body and make you stronger font everythin in life. 
                You fell bad because you are not improving yourself.
                You need Me. I will help You in everything
            </p>
            <button>More</button>
        </div>
    
        <div class="box">
            <h1>Yoga</h1>
            <p>
                People Think that Yoga sucks but they have never tryed it.
                This is tecnic how to feel yourself better and bla bla bla.
                People Think that Yoga sucks but they have never tryed it.
                This is tecnic how to feel yourself better and bla bla bla.
            </p>
            <button>More</button>    
        </div>
    
        <div class="box">
            <h1>Workout</h1>
            <p>
                People Think that Workout sucks but they have never tryed it.
                This is tecnic how to feel yourself better and bla bla bla.
                People Think that Yoga sucks but they have never tryed it.
                This is tecnic how to feel yourself better and bla bla bla.
            </p>
            <button>More</button>    
        </div>
    </div>

</div>

<div class="schedule">
    <h1>Schedule</h1>
    <div class="days">
        <p routerLinkActive="activeSchedule">Sunday</p>
        <p routerLinkActive="activeSchedule">Monday</p>
        <p routerLinkActive="activeSchedule">Tuesday</p>
        <p routerLinkActive="activeSchedule">Wednesday</p>
        <p routerLinkActive="activeSchedule">Thursday</p>
        <p routerLinkActive="activeSchedule">Friday</p>
        <p routerLinkActive="activeSchedule">Saturday</p>
    </div>

    <div class="table">
        <img src="" alt="">
        <h3>Time</h3>
        <p>Name</p>
    </div>
</div>

<div class="pricing">
    <div class="text">
        <h1>Pricing Plan</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, numquam!</p>
    </div>

    <div class="price-box">
        <div class="price">
            <p>Title</p>
            <h1>Price/month</h1>
            <h2>15 Cardio Classes</h2>
            <h2>10 Swimming Lessons</h2>
            <h2>15 Yoga Classes</h2>
            <h2>20 Aerobics</h2>
            <h2>5 Massages</h2>
            <h2>15 Body building</h2>
            <button></button>
        </div>
    
        <div class="price">
            <p>Title</p>
            <h1>Price/month</h1>
            <h2>15 Cardio Classes</h2>
            <h2>10 Swimming Lessons</h2>
            <h2>15 Yoga Classes</h2>
            <h2>20 Aerobics</h2>
            <h2>5 Massages</h2>
            <h2>15 Body building</h2>
            <button></button>
        </div>
    
        <div class="price">
            <p>Title</p>
            <h1>Price/month</h1>
            <h2>15 Cardio Classes</h2>
            <h2>10 Swimming Lessons</h2>
            <h2>15 Yoga Classes</h2>
            <h2>20 Aerobics</h2>
            <h2>5 Massages</h2>
            <h2>15 Body building</h2>
            <button></button>
        </div>
    
        <div class="price">
            <p>Title</p>
            <h1>Price/month</h1>
            <h2>15 Cardio Classes</h2>
            <h2>10 Swimming Lessons</h2>
            <h2>15 Yoga Classes</h2>
            <h2>20 Aerobics</h2>
            <h2>5 Massages</h2>
            <h2>15 Body building</h2>
            <button></button>
        </div>
    </div>

</div>

<div class="contanct">

    <div class="social">

    </div>

    <div class="contactForm">
        <h1>Contact Me</h1>
        <input type="text" name="" id="" placeholder="Name">
        <input type="text" name="" id="" placeholder="Mail">
        <input type="text" name="" id="" placeholder="Message">
        <button>Send</button>
    </div>

    <div class="social">

    </div>
</div>