@import "src/assets/library/style.scss";

.header{
    @include flex();
    width: 100%;
    height: 8vh;
    img{
        width: auto;
        height: 8vh;
    }
    .menu{
        @include flex();
        width:40%;
        height: 8vh;
        font-size:1.5vw;
        p{cursor: pointer}
    }
}

.home{
    @include flex();
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    .text{
        background-image: url("https://immediac.blob.core.windows.net/bedfordhealthcentre/Updated%20Photos/PersonalTraining.jpg ");
        @include flex();
        flex-direction: column;
        justify-content:center ;
        width: 100%;
        height: 80vh;
        font-family: 'Brush Script MT', cursive;
        color:white;
        button{
            @include button();
        }
    }
    .boxes{
        @include flex();
        width: 100%;
        height: 40vh;
        .box{
            @include flex();
            flex-direction: column;
            text-align: center;
            width: 30%;
            height: 50vh;
            margin-top:-15vh;
            background-color: white;
            border:4px solid $orange;
            border-radius: 10px;
            button{
                @include button();
                width: 40%;
            }
            p{width:60%;}
        }
    }
}

.schedule{
    @include flex();
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: orange;
    .days{
        @include flex();
        background-color: red;
        width: 80%;
        height: 5vh;
        p{cursor: pointer;}
        
    }
    .table{
        width: 80%;
        height: 60vh;
        background-color: #f86d6d;
    }
}

.pricing{
    @include flex();
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: skyblue;
    .text{
        @include flex();
        flex-direction: column;
        width: 40%;
        height: auto;
    }
    .price-box{
        @include flex();
        width: 100%;
        height: 70vh;
        .price{
            @include flex();
            flex-direction: column;
        }
    }
}

.contanct{
    @include flex();
    width: 100%;
    height: 30vh;
    background-color: $black;
    .social{
        width: 25%;
        height: 30vh;
    }
    .contactForm{
        width: 50%;
        height: 30vh;
    }
    .about{
        width: 25%;
        height: 30vh;
    }
}

.activeSchedule{
    background-color: blue;
}